<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Edit Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, debitis? Voluptates facilis expedita vel autem commodi omnis sit, quam maxime eveniet non velit, fugit nostrum rem, nobis doloremque corporis excepturi!
            </p>
        </div>
    </div>
</div>

<!-- Edit Contact Form  -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="submitEdit()">
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.name" [value]="contact.name" name="name" id="name" placeholder="Name" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <input type="url" [(ngModel)]="contact.photo" [value]="contact.photo" name="photo" id="photoUrl" placeholder="Photo URL" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <input type="email" [(ngModel)]="contact.email" [value]="contact.email" name="email" id="email" placeholder="Email" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <input type="number" [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile" id="mobile" placeholder="Mobile" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.company" [value]="contact.company" name="company" id="company" placeholder="Company" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <input type="text" [(ngModel)]="contact.title" [value]="contact.title" name="title" id="title" placeholder="Title" class="form-control" required="true">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId" id="select-group" class="form-control" required="true">
                        <option value="">-- Select a Group --</option>
                        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input type="submit" name="submit" value="Update Contact" class="btn btn-danger">
                    <a routerLink="/" class="btn btn-dark ms-2">
                        <i class="fa fa-arrow-circle-left"></i> Cancel
                    </a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo" alt="">
        </div>
    </div>
</div>

<pre>{{contact | json}}</pre>
<pre>{{groups | json}}</pre>