<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 text-danger fw-bold">Add Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, debitis? Voluptates facilis expedita vel autem commodi omnis sit, quam maxime eveniet non velit, fugit nostrum rem, nobis doloremque corporis excepturi!
            </p>
        </div>
    </div>
</div>

<!-- Add New Contact Form  -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input type="text" name="Name" id="name" placeholder="Name" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="photoUrl" id="photoUrl" placeholder="Photo URL" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="email" id="email" placeholder="Email" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="mobile" id="mobile" placeholder="Mobile" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="company" id="company" placeholder="Company" class="form-control">
                </div>
                <div class="mb-2">
                    <input type="text" name="title" id="title" placeholder="Title" class="form-control">
                </div>
                <div class="mb-2">
                    <select name="group" id="select-group" class="form-control">
                        <option value="">Select a Group</option>
                        <option value="1">Group 1</option>
                        <option value="2">Group 2</option>
                        <option value="3">Group 3</option>
                    </select>
                </div>

                <div class="mb-2">
                    <input type="submit" name="submit" value="Create Contact" class="btn btn-danger">
                    <a routerLink="/" class="btn btn-dark ms-2">
                        <i class="fa fa-arrow-circle-left"></i> Cancel</a>
                </div>

            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJCu4AP4JPaFkOfmmeHnU5B1uuWAIg84YvUMKSX1iUS3kdb8ncGRegucK9fmiaKm3gPDA&usqp=CAU" alt="">
        </div>
    </div>
</div>